body {
    font-family: "Helvetica", serif;
}

form.center {
    background-color: #F2F2F2;
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    margin: 50px auto 0;
}

input[type="submit"] {
    background-color: #B5112D;
    width: 200px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #40b517;
}

input.transaction-submit {
    width: auto;
    background-color: #B5112D;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

input.insert {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #B5112D;
    border-radius: 4px;
}

input.date {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #B5112D;
    border-radius: 4px;
}

div.input {
    margin-bottom: 8px;
}

div.error-message {
    margin-top: 50px;
    background-color: white;
    color: #B5112D;
    display: inline-block;
    border: 2px solid #B5112D;
    border-radius: 8px;
    padding: 12px 20px;
}

div.error-wrapper {
    text-align: center;
}

img.message-icon {
    margin-right: 20px;
}

div.complete-message {
    margin-top: 50px;
    background-color: white;
    color: #40b517;
    display: inline-block;
    border: 2px solid #40b517;
    border-radius: 8px;
    padding: 12px 20px;
}

div.complete-wrapper {
    text-align: center;
}

div.transaction-container {
    background-color: #F2F2F2;
    border-radius: 4px;
    margin: 20px 20px 20px 60px;
    padding: 20px
}

span.transaction-name {
    font-size: 32px;
    margin
}

div.table-wrapper {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
}

table.transaction-description {
    font-size: 12pt;
    border-collapse: collapse;
    border-width: 0;
}

td.value {
    text-align: center;
    width: 40px;
}

div.table-wrapper + div.table-wrapper {
    margin-left: 20px;
}